/* Overrides to bootstrap core */
h1 {fot-size:24px;}

.hero-unit h1{
  margin-bottom: 12px;
  margin-top:-12px;
  font-size: 26px;
  line-height: 1;
  color: inherit;
  letter-spacing: -1px;
}

.well{margin-top:12px;}

@media (max-width: 480px) {
.z-adminlinkheader {display:none;}
.z-adminmodtitle {display:none;}
.z-menutexttitle {display:none;}
}
#nav li a.active{color:#ff3399; background:#f6f6f6}